<template>
  <v-card>
       <v-card-title v-on:close="$emit('close')">
            Detalle de Pelicula
       </v-card-title>
       <v-divider></v-divider>
        <v-card-text >
        <v-card
                class="mx-auto my-12"
                v-if="pelicula && pelicula.id"
            >
            <v-row>
            <v-col>
                <v-img
                height="500"
                max-width="350"
                :src="baseimg +  pelicula.poster_path"
                ></v-img>
            </v-col>
            <v-col>
                <v-card-title>{{pelicula.title ? pelicula.title : ''}}</v-card-title>

                <v-card-text>

                <div class="my-4 text-subtitle-1">
                    <v-icon>
                        mdi-star
                    </v-icon>
                    Popularidad • {{pelicula.popularity ? pelicula.popularity : ''}}
                </div>

                <div>{{pelicula.overview ? pelicula.overview : '' }}</div>
                </v-card-text>
            </v-col>
            </v-row>

               
            </v-card>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
           <v-btn
                depressed
                color="primary"
                @click="$emit('close')"
                >
                Cerrar
            </v-btn>
        </v-card-actions>
  </v-card>
</template>

<script>
import peliculas from '../servicios/peliculas';

export default {
    props: {
        id: {
            type: Number,
            default: 0
        },
        open: {
            type: Boolean,
            default: false
        },
    },
    data: function () {
        return {
            pelicula: {},
            baseimg: "https://image.tmdb.org/t/p/w600_and_h900_bestv2",
        }
    },
    mounted() {
        this.inicio()
    },
    methods : {
        inicio: async function () {
            await this.obtenerdetalle(this.id);
        },
        obtenerdetalle: async function (id) {
            let response = await peliculas.getmoviedetail(id);
            if(response) {
                this.pelicula = response;
            }
        }

    },
     watch: {
        open: function() {
            if(this.open) {
                this.inicio();
            }
        }
    }

}
</script>

<style>

</style>