<template>
  <div class="px-5" style="padding-top: 20px;">
    <div>
    <v-row class="titulo">
      FAVORITOS
    </v-row>
      <v-sheet
        class="mx-auto"
        elevation="8"
       
      >
      <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows
      >
       <v-slide-item
        v-for="(pelicula, i) in peliculasfavoritas"
        :key="i"
      >
      <v-card
          color="'grey lighten-5'"
          class="ma-4"
          height="350"
          width="200"
          @click="mostrardetallepelicula(pelicula.id)"
        >
         <v-img
          height="250"
          :src="baseimg +  pelicula.poster_path"
        ></v-img>
        <v-card-title class="text-center" style="justify-content: center;">
          {{pelicula.title ? pelicula.title : ''}}
        </v-card-title>

      </v-card>
       </v-slide-item>
      </v-slide-group>

       </v-sheet>
    </div>
    <div>
    <v-row class="titulo" style="margin-top: 10px;">
      RECOMENDADOS
    </v-row>
      <v-sheet
        class="mx-auto"
        elevation="8"
       
      >
      <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows
      >
       <v-slide-item
        v-for="(pelicula, i) in peliculasrecomendadas"
        :key="i"
      >
      <v-card
          color="'grey lighten-5'"
          class="ma-4"
          height="350"
          width="200"
          @click="mostrardetallepelicula(pelicula.id)"
        >
         <v-img
          height="250"
          :src="baseimg +  pelicula.poster_path"
        ></v-img>
        <v-card-title class="text-center" style="justify-content: center;">
          {{pelicula.title ? pelicula.title : ''}}
        </v-card-title>

      </v-card>
       </v-slide-item>
      </v-slide-group>

       </v-sheet>
    </div>
     <div>
    <v-row class="titulo" style="margin-top: 10px;">
      MAS VALORADAS
    </v-row>
      <v-sheet
        class="mx-auto"
        elevation="8"
       
      >
      <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows
      >
       <v-slide-item
        v-for="(pelicula, i) in peliculasvaloradas"
        :key="i"
      >
      <v-card
          color="'grey lighten-5'"
          class="ma-4"
          height="350"
          width="200"
          @click="mostrardetallepelicula(pelicula.id)"
        >
         <v-img
          height="250"
          :src="baseimg +  pelicula.poster_path"
        ></v-img>
        <v-card-title class="text-center" style="justify-content: center;">
          {{pelicula.title ? pelicula.title : ''}}
        </v-card-title>

      </v-card>
       </v-slide-item>
      </v-slide-group>

       </v-sheet>
    </div>

    <div>
    <v-row class="titulo" style="margin-top: 10px;">
      TV FAVORITOS
    </v-row>
      <v-sheet
        class="mx-auto"
        elevation="8"
       
      >
      <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows
      >
       <v-slide-item
        v-for="(pelicula, x) in tvfavoritos"
        :key="x"
      >
      <v-card
          color="'grey lighten-5'"
          class="ma-4"
          height="350"
          width="200"
          @click="mostrardetalletelevision(pelicula.id)"
        >
         <v-img
          height="250"
          :src="baseimg +  pelicula.poster_path"
        ></v-img>
        <v-card-title class="text-center" style="justify-content: center;">
          {{pelicula.original_name ? pelicula.original_name : ''}}
        </v-card-title>

      </v-card>
       </v-slide-item>
      </v-slide-group>

       </v-sheet>
    </div>
    <div>
    <v-row class="titulo" style="margin-top: 10px;">
      TV RECOMENDADA
    </v-row>
      <v-sheet
        class="mx-auto"
        elevation="8"
       
      >
      <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows
      >
       <v-slide-item
        v-for="(pelicula, x) in tvrecomendado"
        :key="x"
      >
      <v-card
          color="'grey lighten-5'"
          class="ma-4"
          height="350"
          width="200"
          @click="mostrardetalletelevision(pelicula.id)"
        >
         <v-img
          height="250"
          :src="baseimg +  pelicula.poster_path"
        ></v-img>
        <v-card-title class="text-center" style="justify-content: center;">
          {{pelicula.original_name ? pelicula.original_name : ''}}
        </v-card-title>

      </v-card>
       </v-slide-item>
      </v-slide-group>

       </v-sheet>
    </div>
    <div>
    <v-row class="titulo" style="margin-top: 10px;">
      TV VALORADAS
    </v-row>
      <v-sheet
        class="mx-auto"
        elevation="8"
       
      >
      <v-slide-group
        v-model="model"
        class="pa-4"
        active-class="success"
        show-arrows
      >
       <v-slide-item
        v-for="(pelicula, x) in tvvaloradas"
        :key="x"
      >
      <v-card
          color="'grey lighten-5'"
          class="ma-4"
          height="350"
          width="200"
           @click="mostrardetalletelevision(pelicula.id)"
        >
         <v-img
          height="250"
          :src="baseimg +  pelicula.poster_path"
        ></v-img>
        <v-card-title class="text-center" style="justify-content: center;">
          {{pelicula.original_name ? pelicula.original_name : ''}}
        </v-card-title>

      </v-card>
       </v-slide-item>
      </v-slide-group>

       </v-sheet>
    </div>

     <v-dialog
      v-if="mostrardetalle"
      v-model="mostrardetalle"
      persistent
      max-width="700px"
      :retain-focus="false"
      >
      <detalle :id="peliculaseleccionada" :open="mostrardetalle" v-on:close="mostrardetalle = false" />
     </v-dialog>

     <v-dialog
      v-if="mostrardetalletv"
      v-model="mostrardetalletv"
      persistent
      max-width="700px"
      :retain-focus="false"
      >
      <detalletv :id="tvseleccionada" :open="mostrardetalletv" v-on:close="mostrardetalletv = false" />
     </v-dialog>
  </div>
</template>

<script>
import peliculas from '../servicios/peliculas';
import detalle from './detalle.pelicula.vue';
import detalletv from './detalle.tv.vue';

export default {

  data: function () {
    return {
      peliculasfavoritas: [],
      peliculasrecomendadas: [],
      peliculasvaloradas: [],
      tvfavoritos: [],
      tvrecomendado: [],
      tvvaloradas: [],
      model: null,
      mostrardetalle: false,
      mostrardetalletv: false,
      peliculaseleccionada: '',
      tvseleccionada: '',
      baseimg: "https://image.tmdb.org/t/p/w600_and_h900_bestv2",
    }
  },
  components: {
    detalle,
    detalletv
  },
  mounted() {
    this.inicio();
  },
  methods : {
    inicio: async function () {
      await this.getmovies();
      await this.getmoviesRecomendadas();
      await this.getmoviesRated();
      await this.getTvFavorito();
      await this.gettvrecommended();
      await this.gettvrated();
    },
    async getmovies() {
      let response = await peliculas.getmovies();
      if(response) {
        this.peliculasfavoritas = response.results;
      }
    },
    async getmoviesRecomendadas() {
      let response = await peliculas.getmoviereco();
      if(response) {
        this.peliculasrecomendadas = response.results;
      }
    },
    async getmoviesRated() {
      let response = await peliculas.getmovierated();
      if(response) {
        this.peliculasvaloradas = response.results;
      }
    },
    async getTvFavorito() {
      let response = await peliculas.gettvfavorite();
      if(response) {
        this.tvfavoritos = response.results;
      }
    },
    async gettvrecommended() {
      let response = await peliculas.gettvrecommended();
      if(response) {
        this.tvrecomendado = response.results;
      }
    },
    async gettvrated() {
      let response = await peliculas.gettvrated();
      if(response) {
        this.tvvaloradas = response.results;
      }
    },
    mostrardetallepelicula: function(id) {
      this.peliculaseleccionada = id;
      this.mostrardetalle = true;
    },
    mostrardetalletelevision: function(id) {
      this.tvseleccionada = id;
      this.mostrardetalletv = true;
    }

  }

}
</script>

<style scoped>
.px-5 {
  padding: 5rem;
}
.titulo {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
</style>