<template>
  <v-app>
    <v-app-bar
      app

      dark
    >
      <div class="d-flex align-center">
       
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <Inicio/>
    </v-main>
  </v-app>
</template>

<script>
import Inicio from './components/Inicio.vue';

export default {
  name: 'App',

  components: {
    Inicio,
  },

  data: () => ({
    //
  }),
};
</script>
